.head{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #77cdb2;
    height: 66px;
}
.head-logo {
    margin-top: 2px;
    height: 31px;
}
.head-text{
    margin-top: 10px;
    height: 16px;
}
.nav{
    text-align:left;
    align-items:flex-start;
    justify-content: flex-start;
    width: 250px;
    position:absolute;
    top:65px;
    right:0px;
    bottom:40px;
    left:0px;
    background-color: #17222a;
}
.bottom{
    width: 250px;
    height: 40px;
    position:absolute;
    bottom:0;
    background-color: #77cdb2;
    line-height: 50px;
}
.bottom-img{
    margin-top: 4px;
    height: 26px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.connect{
    margin-left: 60px;
    margin-top: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #77cdb2;
    font-size: 30px;
}
.ip{
    margin-left: 22px;
    align-content: center;
    margin-top: 8px;
    background-color: #27353f;
    width: 200px;
    height: 28px;
    border-radius: 4px;
}
.line{
    top: 60px;
    color: #27353f;
    position:absolute;
    font-weight: bolder;
}
.firstbuttons{
    margin-left: 4px;
    margin-top: 80px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 25px;
}
.buttons{
    margin-left: 4px;
    margin-top:20px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 25px;
}

.drop-down {
    list-style: none;
  }
  
  .drop-down li {
    padding: 10px 0px;
    border-bottom: 1px solid #cccccc;
    width: 100px;
    text-align: center;
    background: #fbf6f6;
  }